<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Salário Familia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg text-center " style="background-color: rgb(97, 47, 116)">
		<a class="navbar-brand" style="color: white;" href="#">Fiscalize seu dinheiro!</a>
	</nav>
	
	<div class="container">
		<h2 class="h2 mt-3 mb-3 text-center font-weight-light">Resultado da busca:</h2>	
		<div class="d-flex justify-content-center flex-column mt-3">
			  	<div class="card border-secondary mb-3 m-2" style="max-width: 18rem;"
					th:each="informacao: ${informacoesMunicipio}">
					<div class="card-header"></div>
					<div class="card-body text-secondary">
						<h5 th:text="${informacao.municipio.nomeIBGE}" class="card-title"></h5>
						<p
							th:text="'Codigo do Municipio: ' + ${informacao.municipio.codigoIBGE}"
							class="card-text"></p>
						<p th:text="'Data de referência: ' + ${informacao.dataReferencia}"
							class="card-text"></p>
						<p th:text="'Beneficiários: ' + ${informacao.quantidadeBeneficiados}"
							class="card-text"></p>
						<p
							th:text="'Valor total: ' + ${#numbers.formatDecimal(informacao.valor, 0, 'COMMA', 2, 'POINT')}"
							class="card-text"></p>
						<p>
							<a th:href="@{'/create/' + ${informacao.municipio.codigoIBGE}}" class="badge badge-success">Salvar</a>
						</p>
					</div>
				</div>
				<button class="btn btn-outline-info text-center"><a class="nav-link" href="/">Consultas Salvas</a></button>
			</div>
	</div>
	
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>