<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Salário Familia</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg text-center " style="background-color: rgb(97, 47, 116)">
			<a class="navbar-brand" style="color: white;" href="#">Fiscalize seu dinheiro!</a>
			
			<form th:action="@{/buscarInformacoes}" method="post"
				class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2 text-left m-2" name="codigoIbge"
					type="search" placeholder="Código da cidade" aria-label="Search" required="true">
				<input class="form-control mr-sm-2 text-left m-2" name="anoMes"
					type="search" placeholder="Ano e mês (yyyy/mm)" aria-label="Search" required="true">
				<div class="d-flex justify-content-center m-2">
					<button class="btn btn-outline-primary my-2 my-sm-0"
						type="submit" style="color: white;">Buscar</button>
				</div>
			</form>
			
		</nav>

	<div class="container">		
		<h2 class="h2 mt-5 mb-5 text-center font-weight-light ">Consultas Salvas</h2>
		
		<div class="d-flex flex-wrap justify-content-center">
		
			<div class="card border-secondary mb-3 m-2" style="max-width: 18rem;"
				th:each="informacao: ${informacoesMunicipio}">
				<div class="card-header"></div>
				<div class="card-body text-secondary">
					<h5 th:text="${informacao.nomeMunicipio}" class="card-title">Título
						de Card Primary</h5>
					<p
						th:text="'Codigo do Municipio: ' + ${informacao.codigoMunicipio}"
						class="card-text"></p>
					<p th:text="'Data de referência: ' + ${informacao.mesConsulta}"
						class="card-text"></p>
					<p th:text="'Beneficiários: ' + ${informacao.qtdBeneficiarios}"
						class="card-text"></p>
					<p
						th:text="'Valor total: ' + ${#numbers.formatDecimal(informacao.valorGasto, 0, 'COMMA', 2, 'POINT')}"
						class="card-text"></p>
					<a class="badge badge-danger"
						th:href="@{'/delete/' + ${informacao.id}}">Excluir</a>
				</div>
			</div>
			
		</div>
	</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>